In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sb 
import matplotlib.pyplot as plt

In [2]:
players = pd.read_csv("fantasy_players.csv")
points = pd.read_csv("points.csv")

In [3]:
points

,id_player,web_name,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,1,Cédric,1,1,7,0,False,2022-08-05T19:00:00Z,0.0,2.0,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,Cédric,1,11,10,0,True,2022-08-13T14:00:00Z,4.0,2.0,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,1,Cédric,1,21,3,0,False,2022-08-20T16:30:00Z,0.0,3.0,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,1,Cédric,1,31,9,0,True,2022-08-27T16:30:00Z,2.0,1.0,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,1,Cédric,1,41,2,0,True,2022-08-31T18:30:00Z,2.0,1.0,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10503,557,Smith,557,133,4,0,False,2022-10-29T14:00:00Z,1.0,1.0,...,0,0.0,0.0,0.0,0.0,40,-808,78350,461,1269
10504,557,Smith,557,150,5,0,True,2022-11-05T15:00:00Z,2.0,3.0,...,0,0.0,0.0,0.0,0.0,40,-947,77550,297,1244
10505,557,Smith,557,160,1,0,True,2022-11-12T19:45:00Z,0.0,2.0,...,0,0.0,0.0,0.0,0.0,39,4753,83931,6089,1336
10506,557,Smith,557,166,8,0,False,2022-12-26T15:00:00Z,1.0,2.0,...,0,0.0,0.0,0.0,0.0,39,13485,98132,22510,9025
10507,557,Smith,557,180,14,0,True,2022-12-31T12:30:00Z,NaN,NaN,...,0,0.0,0.0,0.0,0.0,39,1850,100912,3463,1613

In [4]:
points.shape

(10508, 38)

In [6]:
#select columns without null values
mask = points.notnull().all(axis = 0)
print(mask)

id_player                      True
web_name                       True
element                        True
fixture                        True
opponent_team                  True
total_points                   True
was_home                       True
kickoff_time                   True
team_h_score                  False
team_a_score                  False
round                          True
minutes                        True
goals_scored                   True
assists                        True
clean_sheets                   True
goals_conceded                 True
own_goals                      True
penalties_saved                True
penalties_missed               True
yellow_cards                   True
red_cards                      True
saves                          True
bonus                          True
bps                            True
influence                      True
creativity                     True
threat                         True
ict_index                      True
starts                         True
expected_goals                 True
expected_assists               True
expected_goal_involvements     True
expected_goals_conceded        True
value                          True
transfers_balance              True
selected                       True
transfers_in                   True
transfers_out                  True
dtype: bool

In [8]:
points.dropna(inplace=True)

In [9]:
points.shape

(9963, 38)

In [11]:
pd_numeric = points.select_dtypes(exclude = "object")

In [12]:
pd_numeric

,id_player,element,fixture,opponent_team,total_points,was_home,team_h_score,team_a_score,round,minutes,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,1,1,1,7,0,False,0.0,2.0,1,0,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,1,11,10,0,True,4.0,2.0,2,0,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,1,1,21,3,0,False,0.0,3.0,3,0,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,1,1,31,9,0,True,2.0,1.0,4,0,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,1,1,41,2,0,True,2.0,1.0,5,0,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10502,557,557,130,10,0,True,0.0,4.0,13,0,...,0,0.0,0.0,0.0,0.0,40,-1005,78955,237,1242
10503,557,557,133,4,0,False,1.0,1.0,14,0,...,0,0.0,0.0,0.0,0.0,40,-808,78350,461,1269
10504,557,557,150,5,0,True,2.0,3.0,15,0,...,0,0.0,0.0,0.0,0.0,40,-947,77550,297,1244
10505,557,557,160,1,0,True,0.0,2.0,16,0,...,0,0.0,0.0,0.0,0.0,39,4753,83931,6089,1336
10506,557,557,166,8,0,False,1.0,2.0,17,0,...,0,0.0,0.0,0.0,0.0,39,13485,98132,22510,9025